 <div class= "articles">
<%= form_tag("/blog_posts/#{@post.id}", method: :patch) do %>
    <h3>
     New Post 
    </h3>
    <p><input type="text" name="title" value="<%= @post.title %>" placeholder="Airticle Title"></p>
    <p><textarea name="text" " placeholder="Text" rows="50" cols="100" wrap="hard">value="<%= @post.text %></textarea></p>
    <p><input type="submit" value="Update!"></p>
  <% end %>
</div>